.spinner {
  display: flex;
  flex-wrap: wrap;
  height:auto;
  align-content: space-between;
  max-width: 800px;
  margin: auto;

}

.spinnerItem {
  font-size: x-large;
  border-radius: 25px;
  border: 2px solid #A41623;
  background: white;
  padding: 20px; 
  margin: 10px;
}

.framework
{
  font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
}

.informatique{
  font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
}

.langue{
  font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
}

.hobby{
  font-family: "Viga";
    font-size: 40px;
    letter-spacing: 2px;
    color: #C44536;
    font-style: oblique;
    text-shadow: 1px 1px #EDDDD4;
}



