.spinner {
  display: flex;
  flex-wrap: wrap;
  height:auto;
  align-content: space-between;
  max-width: 400px;
  margin: auto;

}

.spinnerItem {
  font-size: x-large;
  border-radius: 25px;
  border: 1px solid Black;
  background: #d1fb96;
  padding: 20px; 
  margin: 10px;
}
